@media screen and (max-width: 576px) {

    /* hero section */
    .hero-container{
        height: 400px;
        padding-right: 0px;
    }
    
    .hero-items{
        width: 100%;
        text-align: center;
        padding: 0px 16px;
        /* color: black; */
    }

    /* failure secdtion */
    .failure-container{
        flex-direction: column;
        padding: 0px 16px;
        margin-top: 16px;
    }

    .failure-img{
        width: 100%; 
    }

    .failure-img img{
        width: 100%;
        margin-left: 0px;
    }
    
    .failure-text{
        width: 100%;
        margin-top: 32px;
    }

    .failure-text > h1{
        margin-top: 64px;
    }

    /* Plan Section  */
    .all-box{
        flex-direction: column;
    }

    .box{
        margin-top: 35px;
    }

    .plan-banner{
        width: 75vw;
        height: 40vh;
    }

    .plan-banner-items h2{
        font-size: 16px;
    }

    .call-btn{
        font-size: 16px;
        font-weight: 500;
        padding: 8px 10px;
    }

    .footer-info{
        flex-direction: column;
    }

    .left-footer,
    .right-footer{
        width: 100%;
    }

    .right-footer{
        margin-top: 32px;
        margin-left: 0px;
    }

    .email-input input{
        width: 30%;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    .right-footer{
        margin-left: 150px;
    }

    .email-input input{
        width: 30%;
    }
}

