@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Shared Styles  */


/* Hero styles  */
.hero-container{
    background-image: url('./images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 500px;
    padding-right: 40px;
}

.hero-items{
    color: white; 
    align-items: center;
    justify-content: center;
    text-align: end;
    width: 40%;
}

.hero-items p{
    margin-top: 20px;
}

.primary-btn{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}


/* Failure Section */
.failure-container{
    display: flex;
    margin-top: 128px;
}

.failure-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.failure-img img{
    width: 70%;
    height: auto;
    margin-left: 70px;
}

.failure-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.failure-text > p{
    font-size: 20px;
    margin-top: 32px;
}

.row
{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.check
{
    color: #16D887;
}

.check-text{
    font-size: 20px;
}

/* Plan Section  */

.plan-title{
    text-align: center;
    margin-top: 40px;
}

.all-box{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.box{
    
    text-align: center;
}

.box h3,
.box p{
    margin-top: 10px;
}


.plan-banner{
    background-image: url('./images/watch.png'), url(./images/gradient1.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1140px;
    margin: auto;
    height: 300px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 64px;
    margin-top: 64px;

}

.plan-banner-items{
    color: white;
}

/* Footer Section */
.footer-container{
    background: #151414;
    /* height: 40vh; */
    display: flex;
    margin-top: 130px;
}

.footer-info{
    color: white;
    width: 90%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    margin: 80px auto;

}

.left-footer{
    width: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* padding: 130px 0px; */
    
}

.left-footer p{
    margin-top: 16px;
}

.footer-icon{
    display: flex;
    margin-top: 16px;
    gap: 10px;
    font-size: 30px;
}

.right-footer{
    width: 50%;
    /* margin: auto; */
}

form{
    margin-top: 16px;
}

input{
    padding: 20px 160px 20px 20px;
    background: transparent;
}